{% extends 'html/base.html' %}
{%  block title %}Blog{%  endblock title %}
{% block body %}
<div class="blog">
    <div class="third text-center ">
        <h3>Motivation</h3>
        <p>10 May 2021, i watched The Pursuit of Happyness. This movie motivate myself for doing something else</p>
    </div>
    <div class="second text-center">
        <h3>Reality</h3>
        <p>If you safe you time, you safe your best thing.</p>
    </div>
    <div class="first text-center">
        <h3>Hello Blog</h3>
        <p>It is my first blog</p>
    </div>
</div>
{% endblock body %}